<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Газовед Gazoved ГБО газобалонное оборудование установка ГБО по низким ценам" />
	  <meta name="description" content="Установка газового оборудования на авто по низким ценам. 
      Начни экономить на топливе уже сегодня до 50%" />
    <meta name="yandex-verification" content="78dd21b66179e45b" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    {{#if isHome}}
      <link rel="stylesheet" type="text/css" href="/main.css">
      {{!-- <link rel="preload" href="/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'" /> --}}
    {{else if isServices}}
      <link rel="stylesheet" type="text/css" href="/service.css">
      {{!-- <link rel="preload" href="/service.css" as="style" onload="this.onload=null;this.rel='stylesheet'" /> --}}
    {{else if isDizel}}
      <link rel="stylesheet" type="text/css" href="/dizel.css">
      {{!-- <link rel="preload" href="/dizel.css" as="style" onload="this.onload=null;this.rel='stylesheet'" /> --}}
    {{else if isMetan}}
      <link rel="stylesheet" type="text/css" href="/metan.css">
      {{!-- <link rel="preload" href="/metan.css" as="style" onload="this.onload=null;this.rel='stylesheet'" /> --}}
    {{else if isRegister}}
      <link rel="stylesheet" type="text/css" href="/register.css">
      {{!-- <link rel="preload" href="/register.css" as="style" onload="this.onload=null;this.rel='stylesheet'" /> --}}
    {{else if isVariator}}
      <link rel="stylesheet" type="text/css" href="/variator.css">
      {{!-- <link rel="preload" href="/variator.css" as="style" onload="this.onload=null;this.rel='stylesheet'" /> --}}
    {{else if isPropan}}
      <link rel="stylesheet" type="text/css" href="/propan.css">
    {{else if isStock}}
      <link rel="stylesheet" type="text/css" href="/stock.css">
      {{!-- <link rel="preload" href="/stock.css" as="style" onload="this.onload=null;this.rel='stylesheet'" /> --}}
    {{else if isStockItem}}
      <link rel="stylesheet" type="text/css" href="/stock.css">
    {{else if isContact}}
      <link rel="stylesheet" type="text/css" href="/contact.css">
      {{!-- <link rel="preload" href="/contact.css" as="style" onload="this.onload=null;this.rel='stylesheet'" /> --}}
    {{else if isWork}}
      <link rel="stylesheet" type="text/css" href="/work.css">
      {{!-- <link rel="preload" href="/work.css" as="style" onload="this.onload=null;this.rel='stylesheet'" /> --}}
    {{else if isWorkItem}}
      <link rel="stylesheet" type="text/css" href="/work-item.css">
      {{!-- <link rel="preload" href="/work-item.css" as="style" onload="this.onload=null;this.rel='stylesheet'" /> --}}
    {{/if}}
    

    {{#if isAuth}}
      <link rel="stylesheet" type="text/css" href="/auth.css" />
    {{/if}}
    {{#if isAdmin}}
      <link rel="stylesheet" type="text/css" href="/admin.css" />
    {{/if}}

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(62691718, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/62691718" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    <script src="https://api-maps.yandex.ru/2.1.74/?lang=ru_RU&amp;coordorder=longlat&amp;apikey=8ea707eb-f2a1-47d2-a099-c60dd9f6228c" type="text/javascript"></script>



    <script>

      url = document.location.href;
      if(url.match(/utm_source=/)){
        var UTM_SOURCE = window.location.search.split('utm_source=')[1].split('&')[0];

        var date = new Date;
        date.setDate(date.getDate() + 1);
        date = date.toUTCString();
        document.cookie = 'UTM_SOURCE='+UTM_SOURCE+'; path=/; expires='+date;

        
      }
    </script>


</head>
<body>